.ytp-chapter-button:disabled {
    color: gray;
}

.ytp-chapter-button:disabled svg path {
    stroke: gray;
}

.ytp-chapter-container.ytp-chapter-control {
    display: none !important;
}

.ytp-chapter-container.ytp-chapter-control.activated.visible {
    display: revert !important;
}

.ytp-chapter-title-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 1em;
    font-size: 1.5em;
    max-width: 60%;
    z-index: 28;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
}

.ytp-overlay-reveal {
    animation: fade-in-out 5s linear forwards;
}

@keyframes fade-in-out {
    5% {
        transform: scaleX(1);
    }
    10%,
    80% {
        opacity: 1;
    }
    95% {
        transform: scaleX(1);
    }
}
